body{
  margin:0;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;

  

  z-index: 999;

  transition:
    transform .4s ease,
    padding .4s ease;
}

.header-container {
 width: 100%;
  /* max-width: 1400px; */



  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 30px 50px;

  background: transparent;

  border-radius: 10px;
  border: 1px solid grey;

  transition: all .4s ease;
}

.header-left{
  display:flex;
  gap:40px;
}

.header-left a{
  text-decoration:none;
  color:#111;
  font-size:14px;
  font-weight:400;
}

.header-logo{
  font-size:42px;
  font-family: serif;
  font-weight:400;
  color:#0ea0dc;


  transition: all .3s ease;
}
.scrolled .header-logo {

  font-size: 36px;
}
.header-right{
  display:flex;
  align-items:center;
  gap:25px;
}

.cart{
  display:flex;
  gap:5px;
  align-items:center;
}

.contact-btn{

  background:#000;
  color:#fff;

  border:none;

  padding:15px 30px;

  cursor:pointer;

  font-size:14px;
}
.header.show {
  transform: translateY(0);
}

.header.hide {
  transform: translateY(-150%);
}
.scrolled .header-container {

  background: rgba(255,255,255,.92);

  backdrop-filter: blur(12px);

  -webkit-backdrop-filter: blur(12px);

  box-shadow:
    0 10px 30px rgba(0,0,0,.08);

}