*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header{
  width:100%;
  position:fixed;
  top:0;
  z-index:999;
}

.header-container{
 
  max-width:100%;
  margin:auto;
  background:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:28px 50px;
  border-radius:10px;
  box-shadow: 0 5px 20px rgba(0,0,0,.05);
}

.header-left{
  display:flex;
  gap:40px;
}

.header-left a{
  text-decoration:none;
  color:#111;
  font-size:14px;
  font-weight:400;
}

.header-logo{
  font-size:42px;
  font-family: serif;
  font-weight:400;
  color:#0ea0dc;
}

.header-right{
  display:flex;
  align-items:center;
  gap:25px;
}

.cart{
  display:flex;
  gap:5px;
  align-items:center;
}

.contact-btn{

  background:#000;
  color:#fff;

  border:none;

  padding:15px 30px;

  cursor:pointer;

  font-size:14px;
}